*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#countdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
#countdown div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
    
}
#countdown span{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
#countdown .label{
    font-size: 1em;
    text-transform: uppercase;
    color: #bbb;
}
#countdown div{
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
}
.progress-container{
    width: 100%;
    background-color: #faf7f7;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    height: 10px;
    
}
#progress-bar{
    background: rgb(146, 227, 25);
    width: 0%;
    height: 100%;
    transition: width 1s ease-in-out;
    border-radius: 5px;
}
@media (min-width: 750px) {
    .container{
        width: 80%;
    }
    h1{
        font-size: 2em;
    }
    #countdown span{
        font-size: 1.5em;
    }
}

@media (max-width: 750px) {
    .container{
        width: 70%;
        padding: 10px;
    }
    h1{
        font-size: 1.5em;
        text-align: center;
    }
    #countdown span{
        font-size: 1.2em;
    }
    #countdown div{
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
}