body{
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}
#countdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
#countdown div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}
#countdown span{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
#countdown .label{
    font-size: 1em;
    text-transform: uppercase;
    color: #bbb;
}
#countdown div{
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
}